html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


@font-face {
    font-family: "roboto";
    src: url("fonts/roboto-regular-webfont.woff2") format(woff2);
    src: url("fonts/roboto-regular-webfont.woff") format(woff);
    font-weight: normal;
    font-style: normal;
}

:root{
    font-family: roboto, Arial, Helvetica, sans-serif;
    box-sizing: border-box;


    --mainPurple: rgb(110, 80, 197);
    --mainPurpleDark: rgb(46, 22, 117);

    /* i was just messing around with this */
    /* font-size: 16px; */
}






.mainContainer{
    /* height: 100vh;
    width: 100vw; */
    /* height: max(auto,100vh);
    width: max(auto,100vw); */
    /* height: auto;
    width: auto; */
    /* height: max(50px,60px); */
    /* height: max(100vh,fit-content); */

    min-height: 100vh;
    /* i don't know why this has to be 98 or else it overflows but uh */
    /* (k there's also now an issue where if the viewbox is too narrow i can't get to to grow to fit everything) */
    min-width: 98vw;

    display: grid;

    /* the max(250/22ch) used to just be 250, this lets it expand if the font is made huge */
    /* the 800 was a 600 and i'm not sold on changing it but i don't think new/upload/share have enough room 
    10rem seems to keep the topbar in a reasonable size?*/
    grid-template-columns: max(250px, 24ch) minmax(800px,4fr);
    grid-template-rows: 10rem minmax(450px,4fr);
}



.sidebar{
    background-color: var(--mainPurple);

    grid-row: 1/-1;

    padding-top: 1rem;

    display: grid;
    gap: 2rem;    
    align-content: start;
}

.sidebarLinkBlock{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1.5rem;

    align-items: center;
}

.sidebarLinkText{
    color: white;
    font-weight: 600;

    /* im putting this where there's font-weight 600 */
    letter-spacing: 0.1ch;
}

#logo > h1{
    font-size: 1.5rem;

    position: relative;
    left: -0.5rem;
}

#logo > img{
    width: 3rem;
    height: 3rem;

    position: relative;
    left: 0.5rem;
}







.topbar{
    position:relative;
    z-index:999;

    background-color: white;

    /* and stopping it from potentially wrapping on super-zoon*/
    white-space: nowrap;

    display: grid;
    gap: 10px;
    grid-template-columns: 3fr 2fr;
    box-shadow: 2px 2px 2px 1px rgba(139, 141, 153, 0.5);
}

/* top left */
.searchContainer{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;

    /* has a standard width that changes a lil with font size, but won't ever escape containment */
    grid-template-columns: auto min(90%,55ch);

    gap: 10px;
    padding-left: 30px;
}

input[type="search"]{
    border: none;
    border-radius: 20px;
    background-color: rgb(199, 214, 224);

    height: 2rem;
    font-size: 1rem;
    padding-left: 1.5ch;
}

input[type="search"]:focus{
    outline: var(--mainPurple) solid 1.5px;
    box-shadow: 0 0 2px 2px var(--mainPurple);
}

/* top right */
.personalContainer{
    font-weight: 600;

    /* im putting this where there's font-weight 600 */
    letter-spacing: 0.1ch;


    display: grid;
    grid-auto-flow: column;

    padding-right: 50px;
    padding-top: 10px;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

/* bottom left */
.greetingContainer{
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1.25rem 1fr;

    justify-content: start;
    gap: 7px;
    column-gap: 15px;
    padding-left: 30px;

    font-weight: 600;
    /* im putting this where there's font-weight 600 */
    letter-spacing: 0.1ch;
}

.profileLarge{
    height: 3.5rem;
    width: 3.5rem;

    grid-row: 1/-1;
}

.greetingStatement{
    font-size: 0.75rem;

    align-self: self-end;
}

.nameAndAt{
    font-size: 1.25rem;
}


/* bottom right */
.buttonContainer{
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    justify-content: end;
    gap: 20px;
    padding-right: 40px;
}

.buttonContainer > button{
    background-color: var(--mainPurple);
    border: none;

    cursor: grab;

    height: 2rem;
    width: 12ch;

    color: white;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 25px;
}

.buttonContainer > button:active{
    background-color: var(--mainPurpleDark);
}






.mainSectionContainer{
    /* background-color: palegoldenrod; */
    background-color: rgb(213, 217, 226);

    display: grid;
    grid-template-columns: 1fr 250px;

    gap: 20px;
    padding: 20px;
    padding-top: 30px;

    font-weight: 600;
    /* im putting this where there's font-weight 600 */
    letter-spacing: 0.1ch;
}



.projectGrid{
    /* background-color: aquamarine; */

    padding-top: 20px;

    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(30ch,1fr));
    grid-auto-rows: 200px;
}

.projectBlock{
    background-color: white;
    border-radius: 25px;
    box-shadow: 2px 2px 2px 2px rgba(155, 155, 155, 0.25);

    padding: 20px;
    padding-left: 30px;

    box-shadow: inset 20px 0 0 -12px rgb(233, 203, 69);

    display: grid;
    align-content: center;
    grid-template-rows: 1fr 2rem;
}

.projectBlock > div > h3{
    padding-bottom: 10px;
}

.projectBlock > div > div{
    color: gray;
    font-weight: normal;
    font-size: 0.9rem;
}

.projectIcons{
    justify-self: end;

    display: grid;
    grid-auto-flow: column;
    gap: 25px;
}





/* grid that contains 'announcements' and 'trending' */
.bodyRight{
    display: grid;
    align-content: start;

    gap: 30px;
}



.anncBlock{
    background-color: white;

    margin-top: 10px;
    border-radius: 15px;

    padding: 40px;
    display: grid;
    /* grid-auto-rows: 2.5rem; */

    gap: 2rem;
}

.announcement > h3{
    font-size: 0.75rem;
    padding-bottom: 5px;
}

.announcement > div{
    color: gray;
    font-size: 0.6rem;
    font-weight: normal;
    letter-spacing: normal;

    /* okay it reads like ellipsis only actually works with whitespace-nowrap which would mean a single line only?
    which seems weird? but ? I'm just gonna cheat and throw ellipses into the html */
    /* height: 100%;
    width: 100%; */
    /* height: 2.5rem;
    width: 30ch;
    display: block;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis; */
}



/* .rightGrid{
    /* background-color: aqua; * /
    
    padding-top: 10px;

    display:grid;
    gap: 30px;
    grid-template-columns: 225px;
    grid-auto-rows: 300px;
} */

.profileGrid{
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3rem 1fr;
    column-gap: 15px;
    align-items: center;

    font-weight: normal;
    font-size: 0.75rem;
}

.profProject{
    color: gray;
}





.icon{
    width: 1.5rem;
    height: 1.5rem;

    justify-self: end;

}
.profilePic{
    height: 3rem;
    width: 3rem;

    grid-row: 1/-1;
}